.card{
    display: grid;
    justify-content: center;
    padding: 10px;
}

.cardImage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    overflow: hidden;
  }
  
  .cardImage img {
    max-width: 100%;
    max-height: 100%;
  }
  
.cardContent{
 
}

.cardTitle{
 
}

